/* STYLE FONTS */
/* alata-regular - latin */
@font-face {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/alata-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/alata-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* josefin-sans-300 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/josefin-sans-v25-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/josefin-sans-v25-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* CUSTOM PROOPERTY */

:root {
  /* BG COLOR */
  --body-bg-color: #f2f2f2;
  --white-bg-color: #fff;
  --black-bg-color: #000000;

  /* TEXT COLOR */
  --white-text-color: #ffffff;
  --black-text-color: #000000;

  /* FONTS */
  --text-font: "Alata", "Arial", sans-serif;
  --title-font: "Josefin Sans", "Arial", sans-serif;
}

/* CUSTOM PROOPERTY end. */

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg-color);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
}

h1 {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  /* min-height: 100vh; */
  position: relative;

}
.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.title {
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 1;
  text-transform: uppercase;
}
.h3-text {
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 1;
}
/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  padding: 6.4rem 16rem 14.6rem 16rem;
  background-image: url(../image/jpg/Bitmap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-text-color);
}
/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13rem;
}
.nav-img {
  width: 192px;
  height: 32px;
  object-fit: contain;
  object-position: center;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.burger-btn {
  display: none;
}
.header__item {
  display: flex;
  position: relative;
}
.header__item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white-bg-color);
  position: absolute;
  bottom: -8px;
  right: 50%;
  transition: width 0.25s linear;
}
.header__item::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: var(--white-bg-color);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transition: width 0.25s linear;
}

.header__item:hover::after,
.header__item:hover::before {
  width: 25%;
}

/* hero */
.hero {
  width: 100%;
  max-width: 650px;
  border: 2px solid var(--white-bg-color);
  padding: 4rem;
}

.header-hero__bigtext {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 7.2rem;
  line-height: 1;
}
/* .menyu__bar .header{
  margin-bottom: 16rem;
}
.menyu__bar{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--black-color);
  padding: 4rem 2.4rem;
  transition: all  .5s ease;
  display: flex;
  flex-direction: column;
} */
/* HEADER dark */
/* HEADER END */
.into{
  display: none;
}
.into{
  width: 100%;
  height: 100vh;
  padding: 4rem 2.4rem;
  top: 0;
  left: 0;
  background-color: var(--black-bg-color);
  color: var(--white-text-color);
  position: absolute;
}
.h-item{
  display: inline-block;
  font-family: var(--title-font);
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}

/* MAIN */
main {
  flex-grow: 1;
}
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 18.4rem;
}
/* main top */
.main-top {
  margin-top: 16rem;
  margin-bottom: 18.4rem;
  width: 100%;
  display: flex;
  position: relative;
}
.main-top__first-img {
  overflow: hidden;
}
.main-top__first-img:hover .main-top__info-img {
  transform: scale(1.1);
}
.main-top__info-img {
  width: 730px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
}
.main-top__box {
  max-width: 541px;
  background-color: var(--white-bg-color);
  padding: 9.6rem 0 0 9.6rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-top__first-img {
  width: 100%;
}
.main-top img {
  width: 731px;
  height: auto;
}
.main-top__text {
  opacity: 0.5;
}
.main-top__h2 {
  margin-bottom: 2.5rem;
}
/* main bottom */
.main-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-bottom__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.main-bottom__btn {
  padding: 1.3rem 4rem;
  border: 1px solid var(--black-bg-color);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.35rem;
}
.main-bottom__btn:hover{
  background-color: var(--black-bg-color);
  color: var(--body-bg-color);
}
.main-bottom__btn2 {
  display: none;
}
.main-bottom__albom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: center;
}

.main-bottom__albom2 {
  display: none;
}
.main-bottom-image {
  width: 100%;
  position: relative;
  display: flex;
}
.main-bottom-image:hover{
  opacity: 0.3;
}
.main-bottom-img {
  object-fit: cover;
  object-position: center;
}

.main-bottom-h3 {
  color: var(--white-text-color);
  position: absolute;
  left: 4rem;
  bottom: 6.2rem;
}
/* MAIN END */

/* FOOTER */
.footer {
  width: 100%;
  background-color: var(--black-bg-color);
  color: var(--white-text-color);
  padding: 4.4rem 0;
}
.footer-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 2.4rem;
}
.footer__icons {
  display: flex;
  gap: 1.6rem;
  justify-content: flex-end;
}

.footer__p {
  opacity: 0.5;
}
.ht2-1{
  display: none;
}
/* -------MEDIA------- */
/* 992px */
@media (max-width: 992px) {
  /* HEADER */
  .header {
    padding: 3rem 8rem;
  }
  .header__title {
    flex-direction: column;
    gap: 1rem;
  }
  .header-hero__bigtext {
    font-size: 5rem;
    line-height: 1;
  }
  .main-top {
    padding-bottom: 10rem;
  }
  .main-bottom__albom {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  .header__title {
    display: none;
  }
  .into{
    display: flex;
  }

  .burger-btn {
    display: block;
  }
  .header-hero__bigtext {
    font-size: 4rem;
    line-height: 1;
  }
  .hero {
    padding: 2.4rem;
  }
  /* MAIN */
  .main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-top__box {
    position: static;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--body-bg-color);
  }
  .main-bottom__title {
    flex-direction: column;
    gap: 2rem;
  }
  .main-bottom__albom {
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
  /* FOOTER */
  .fg2{
    grid-template-columns: 1fr;
    place-items: center;
  }
  .ht2{
    display: none;
  }
  .ht2-1{
    display: flex;
    margin-bottom: 2.4rem;
}
}
/* 576px */
@media (max-width: 576px) {
  /* HEADER */
  .header {
    padding: 4rem 2.4rem;
  }
  .nav-img {
    width: 144px;
    height: auto;
  }
  /* MAIN */
  .main-top{
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
    padding: 0;
  }
  .main-bottom {
    align-items: center;
  }
  .main-bottom__btn{
    display: none;
  }
  .main-bottom__btn2{
    display: block;
    margin-top: 3.4rem;
    margin-bottom: 9.6rem;
  }
  .title {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .main-bottom__albom {
    display: none;
  }
  .main-bottom__albom2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 2.4rem;
  }
  .main-bottom-image {
    overflow: hidden;
    height: 120px;
  }
  .main-bottom-img {
    width: 327px;
  }
  .h3-text {
    font-size: 2.4rem;
  }
}

/* 375px */
@media (max-width: 375px) {
  /* HEADER */

  /* MAIN */
}
